.save-changes-bar {
    position: absolute;
    top: 40px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: fade 100ms linear;
}

@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
