.deck-space-container {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
}

.deckspace {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    scrollbar-gutter: stable both-edges;
}

.decks {
    position: relative;
    width: 800px;
    height: min-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 40px;
}

.decks .deck-wrapper {
    animation: fade 100ms linear;
    animation-fill-mode: both;
}

@for $i from 1 through 30
{
    .decks .deck-wrapper:nth-of-type(#{$i}) {
        animation-delay: #{($i)/20}s;
    }
}
