.alert-container {
  position: absolute;
  top: 200px;
  bottom: 200px;
  min-height: 240px;
  width: 90%;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  animation: fade 100ms linear;
}

.alert-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  font-size: 20px;
}
