.main-header {
    position: absolute;
    top: 0;
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: background-color 100ms, color 100ms;
}

.theme-toggle {
    position: absolute;
    height: 100%;
    width: 120px;
    right: 0;
}
