.login-form-container {
  position: absolute;
  width: 300px;
  border-radius: 20px;
  padding: 20px;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
